<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Auth System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="container">
        <h3>Auth App</h3>
        <form action="submit">
            <div class="username">
                <label for="username">Name</label>
                <input type="text" placeholder="username">
            </div>
            <div class="pwd">
                <label for="username">Password</label>
                <input type="text" placeholder="password">
            </div>
            <button class="btn btn-primary">confirm password</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>